* {
    margin: 0;
    padding: 0;

    a {
        text-decoration: none;
        color: white;
    }

    font-family: 'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: rgb(58, 57, 57);
    padding: 30px;





}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 100px;






}

.navbar ul li a:hover {
    color: gold;


}

.navbar p a {
    text-decoration: none;
    color: gold;
}

.main img {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-size: 100% 100%;

}



.inner {
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    top: 220px;

}

.txt1 {
    font-size: 30px;
    color: white;
    font-size: "Trebuchet MS", sans-serif;

}

.txt2 {
    margin-top: 10px;
    font-family: "Comic Sans MS", cursive;
    font-size: 4em;
    color: white;
    padding-bottom: 20px;
}

.btn-1 {
    padding: 20px;
    border-radius: 7px;
    background-color: gold;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: white;
    font-weight: bold;
    font-size: 18px;

}

.btn-1:hover {
    cursor: pointer;
    background-color: rgb(214, 185, 18);
}

.sect-1 {
    text-align: center;
    padding-top: 40px;
    font-size: 2rem;
}

.head-1 {
    text-transform: uppercase;
    padding-bottom: 15px;
    font-family: "Trebuchet MS";
    font-weight: bold;
}

.head-2 {
    color: #ccc;
    font-size: 20px;
    padding-bottom: 20px;
}


/* .navimg { 
    width: 50px;
    position: fixed;
    top: 600px;
    left: 1350px;
background-color: blue;
    border-radius: 40%;

} */

.navimg {
    width: 40px;
    border-radius: 70%;
    position: fixed;
    top: 400px;
    left: 1280px;

}


img:hover {
    cursor: pointer;

}

.cardsection {
    display: flex;
    text-align: center;

}

/* .spancontent{
    
    justify-content: center;
} */

.cardsontent {
    color: #5a5a5a;
    padding: 50px 58px 50px 50px;
    align-items: center;
    text-align: center;
}

.cardsontent img {
    border-radius: 50%;
}

.spanone {
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding-top: 500px;
}



.portfolio {
    background-color: rgb(248, 248, 248);
    text-align: center;
    padding-bottom: 20px;
}

.port-title {
    text-transform: uppercase;
    font-family: "Trebuchet MS";
    font-size: 2rem;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 20px;
    /* text-align: center; */
}

.port-title-sub {
    color: #bbbbbb;
    font-size: 20px;



}

/* contact */

.contact {
    background: url(./pics/3.jpg);
    background-size: 100%;

    padding-bottom: 50px;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;

}

.contents {
    text-transform: uppercase;
    font-family: "Trebuchet MS";
    font-size: 2rem;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
}

.contact-title-sub {
    color: #bbbbbb;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    font: lighter;

}

.user-required {
    display: flex;
    gap: 50px;
    justify-content: space-around;
}

input[type] {
    padding: 20px;

}

input[type="text"] {
    text-transform: capitalize;
    border: 1px solid green;
    font-size: 20px;
    font-weight: bolder;
    color: #af2525;
    width: 500px;
}

input[type="number"] {
    text-transform: capitalize;
    border: 1px solid green;
    font-size: 20px;
    font-weight: bolder;
    color: #af2525;
    width: 500px;
}

textarea {
    width: 500px;
    color: forestgreen;
    font-size: 20px;
    text-transform: capitalize;
    padding-top: 10px;
    border: 1px solid green;
    font-weight: bolder;
    padding-right: 10px;
    height: 220px;
}

input[type="number"]:hover {
    background-color: rgb(226, 222, 195);
}

input[type="text"]:hover {
    background-color: rgb(226, 222, 195);
}

textarea:hover {
    background-color: rgb(226, 222, 195);
}

.btn-2 {
    text-transform: capitalize;
    padding-top: 50px;
    background-color: rgb(255, 218, 8);
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

.btn-2:hover {
    background-color: rgb(226, 222, 195);
    color: brown;
}



.box {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
    padding-bottom: 20px;


}

.box1-1 {
    position: relative;
    max-width: 250px;
    max-height: 250px;
}

.box1-2 {
    position: absolute;
    background-color: rgba(243, 247, 4, 0.815);
    width: 250px;
    height: 250px;
    top: 0%;
    text-align: center;
    align-content: center;
    opacity: 0;
    /* padding-bottom: 40px; */

}

.box1 {
    position: relative;
}

.box1-2:hover {
    opacity: 1;
}

.box2 {
    position: relative;
}

.box2-1 {
    position: relative;
    max-width: 250px;
    max-height: 250px;
}

.box2-2 {
    position: absolute;
    background-color: rgba(243, 247, 4, 0.815);
    width: 250px;
    height: 250px;
    top: 0%;
    text-align: center;
    align-content: center;
    opacity: 0;
}

.box2-2:hover {
    opacity: 1;
}

.box3 {
    position: relative;
}

.box3-1 {
    position: relative;
    max-width: 250px;
    max-height: 250px;
}

.box3-2 {
    position: absolute;
    background-color: rgba(243, 247, 4, 0.815);
    width: 250px;
    height: 250px;
    top: 0%;
    text-align: center;
    align-content: center;
    opacity: 0;
}

.box3-2:hover {
    opacity: 1;
}

.box-title {
    margin-top: 20px;


}

/* .box-title h2{
    width: 100px;
    justify-content: center;
} */

.box-title-1 em {
    color: rgb(147, 147, 142);
    margin-top: 20px;

}

.team {
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity))
}

.teamhead{
    padding-top: 80px;
    text-align: center;
}

.organizing{
    font-size: 35px;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-weight: bold;
}

.organizing-content{
    color: #bbbbbb;
    padding-top: 20px;
}

.img-flex{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    text-align: center;
}

.name-1{
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
}

.name-12{
    color: #bbbbbb;
    padding-top: 10px;
    font-weight: 800;
}

.icon i{
    padding-top: 10px;
    gap: 200px;
}

.team-content1{
    padding: 80px;
    margin: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: #bbbbbb;
}

.foter-content {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.footer{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.about-title{
    text-align: center;
    padding-top: 20px;
}

.abt-1{
    text-transform: uppercase;
    padding-bottom: 20px;
}

.abt-2{
    color: #bbbbbb;
     font-weight: 700;
}

.foter-content .lione{
    color: #3f3b3b;
    font-size: 15px;
}
/* about */
/* .abt-content{
    position: relative;
    padding: 20px, 0;
}

.abt-content::before{
    
    position: absolute;
    top: 0;
    left: 50%;
    width: 40px;
    height: 100%;
    background: #ddd;
    transform: translate x(-50%);
} */

.timeline{
    display: flex;
    /* justify-content: space-between; */
    gap: 5px; ;


}

.timeline-2{
    display: flex;
    /* justify-content: space-between; */
    gap: 5px; ;

}

.timeline-3{
    display: flex;
    /* justify-content: space-between; */
    gap: 5px; ;


}

.timeline-4{
    display: flex;
    /* justify-content: space-between; */
    gap: 5px; ;


}


.table  
{
    margin:auto;
}

.table tr {
    padding-bottom: 200px;
}
.hide-col{
    visibility: hidden;
}

td img{
    border-radius: 50%;
}

.table-conntent{
    color: #646363;
    text-align: right;
    /* background-color: aquamarine !important; */
   width: 400px;
    
}

.timeline-item2 img{
    margin-left: 30px;
}